body {
  background: black;
  font-family: "Comic Sans MS", cursive;
  color: blue;
}

#container {
  width: 900px;
  margin: auto;
  border: 4px ridge fuchsia;
  padding: 10px;
  background: #111;
}

.blink {
  animation: blink 1s infinite;
  text-align: center;
}

@keyframes blink {
  50% { opacity: 0; }
}

marquee {
  background: purple;
  color: yellow;
  padding: 5px;
}

.content {
  display: flex;
}

.left, .right {
  width: 50%;
  padding: 10px;
}

.avatar {
  width: 50%;
  border: 3px solid lime;
}

.banner {
  width: 100%;
  margin-top: 10px;
  border: 2px dashed cyan;
}

textarea, input {
  width: 100%;
  margin-top: 5px;
  background: black;
  color: lime;
  border: 1px solid cyan;
}

button {
  background: purple;
  color: white;
  width: 100%;
  margin-top: 5px;
}

.entry {
  border-top: 1px dashed lime;
  padding: 5px;
}

footer {
  text-align: center;
  margin-top: 10px;
  color: cyan;
}
